<?php

return [
    /*
    |--------------------------------------------------------------------------
    | Application URL
    |--------------------------------------------------------------------------
    |
    */
    'appUrl' => 'http://snipp.juhara/',

    /*
    |--------------------------------------------------------------------------
    | Number of random string generated for snippet id
    |--------------------------------------------------------------------------
    |
    */
    'maxSnippetIdLength' => 7,

    /*
    |--------------------------------------------------------------------------
    | Application name
    |--------------------------------------------------------------------------
    |
    */
    'appName' => 'snipp.id',

    /*
    |--------------------------------------------------------------------------
    | Application theme
    |--------------------------------------------------------------------------
    |
    */
    'theme' => 'default',

    /*
    |--------------------------------------------------------------------------
    | Database setting
    |--------------------------------------------------------------------------
    |
    | Application database setting
    |
    */
    'db' => [
        /*
        |--------------------------------------------------------------------------
        | Database system
        |--------------------------------------------------------------------------
        |
        | This not used yet as we always use MySQL as our database system
        |
        */
        'dbms' => 'mysql',

        /*
        |--------------------------------------------------------------------------
        | Database hostname
        |--------------------------------------------------------------------------
        |
        | Database host
        |
        */
        'host' => 'localhost',

        /*
        |--------------------------------------------------------------------------
        | Database name
        |--------------------------------------------------------------------------
        |
        | Database name
        |
        */
        'dbname' => 'snippet',

        /*
        |--------------------------------------------------------------------------
        | Database username
        |--------------------------------------------------------------------------
        |
        | Database username
        |
        */
        'username' => 'snippet',

        /*
        |--------------------------------------------------------------------------
        | Database password
        |--------------------------------------------------------------------------
        |
        | Database password
        |
        */
        'password' => 'P@ssword'
     ]

];